#  Local .terraform directories
/terraform/.terraform/**

# .tfstate files
/terraform/*.tfstate
/terraform/*.tfstate.*

# .tfvars files
/terraform/*.tfvars
/keypair/**

# Nginx render files
*/conf.render/**
